/.DS_Store
/04-website.html
/05-cart-quantity.html
/05-variables.html
/06-booleans.html
/06-rock-paper-scissors.html
/07-js.html
/4i.html
/5a.html
/calculator.html
/get start with html
/keyboard-shortcuts-macos.pdf